:root {
  font-size: 16px;
}

body > main,
body > footer {
  display: none;
}

/* GENERAL */
html,
body {
  padding: 0;
  margin: 0;
}
/* HEADER */

/* logo and banner  */
body > header {
  height: 200px;
  background: black url(/css/img/banner.png) no-repeat center top;
  background-size: cover;
}
body > header > h1 {
  height: 100%;
  width: 400px;
  padding: 0;
  margin: 0;
  background: url(/css/img/logo.png) no-repeat left center;
}
body > header > h1 > a {
  width: 100%;
  height: 100%;
  display: block;
  text-indent: -100vh;
}
/* Menu */

body > header > nav {
  height: 40px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(65, 65, 65, 1) 100%
  );
  color: white;
}
body > header > nav a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 200px;
  font-weight: bold;
}
body > header > nav > ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}
body > header > nav > ul ul {
  display: none;
}
body > header > nav > ul {
  padding: 1;
  margin: 0;
}
