body {
}

h1 {
  display: inline;
  background-color: azure;
  border-left: 5px solid #555555;
  border-bottom: 5px dashed red;
  border-top: 5px dotted blue;
  border-right: 5px dotted green;
  border-radius: 0.4em;
}
